In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode, split, regexp_replace
from pyspark.sql.functions import col, split, explode, regexp_replace


from pyspark.sql.functions import lit, col, when
from pyspark.sql.types import StringType
from pyspark.ml.feature import FeatureHasher
import os
from pyspark.sql.functions import col, when, lit, isnan
from pyspark.sql.functions import lit, nanvl, isnan, when, avg
import category_encoders as ce
import pandas as pd
import itertools
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from category_encoders import CatBoostEncoder
import pickle
from pyspark.sql import SparkSession
from pyspark.sql.functions import pandas_udf, PandasUDFType
from pyspark.sql.types import DoubleType, ArrayType
import numpy as np
import pandas as pd
import sklearn
sklearn.set_config(transform_output='pandas')
from pyspark.sql.functions import array
from pyspark.sql import functions as F
from pyspark.sql import SparkSession, types as T
from pyspark.sql.functions import udf
from ast import literal_eval

from pyspark.sql import DataFrame
import os
from pyspark.sql import functions as sf
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, DoubleType
import pyspark
from pyspark.sql import SparkSession
# from geospark.register import upload_jars
# from geospark.register import GeoSparkRegistrator
# from geospark.core.SpatialRDD import PolygonRDD, PointRDD
# from geospark.core.enums import FileDataSplitter
# from geospark.core.enums import IndexType
# from geospark.core.geom.envelope import Envelope
# from geospark.core.spatialOperator import RangeQuery
# from geospark.core.formatMapper.shapefileParser import ShapefileReader
# from geospark.sql.types import GeometryType
# from geospark.register import sparkJVM
# import re
# upload_jars()
#
#
#
# spark = SparkSession.builder.appName("Spark_v1")    .config("spark.default.parallelism", 176*3) \
#     .config("spark.sql.shuffle.partitions", 176*3) \
#     .config("spark.executor.memory", "50g") \
#     .config("spark.executor.cores", "5") \
#     .config("spark.driver.memory", "10g") \
#     .config("spark.driver.maxResultSize", "1300g") \
#     .getOrCreate()
import os

# setup arguments
#os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-sql-kafka-0-10_2.11:2.4.0'

# initialize spark
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, BooleanType


ram = 16

spark = SparkSession. \
    builder. \
    appName('spark_first_run') \
    .config("spark.executor.memory", f"{ram}g") \
    .config("spark.driver.maxResultSize", f"{ram}g") \
    .config("spark.driver.memory", f"{ram}g") \
    .config("spark.executor.memoryOverhead", f"{ram}g") \
    .config("spark.sql.debug.maxToStringFields", "100000") \
    .getOrCreate()


#    .config("spark.driver.memory", "10g") \

#    .config("spark.executor.memoryOverhead", "10g") \




# Register Sedona functions to Spark






from scipy.stats import t
from pyspark.sql import SparkSession

from pyspark.sql.functions import udf, lit

import pandas as pd
from ast import literal_eval
import json
from pyspark.sql.functions import udf
import pandas as pd
import shutil
from pyspark.sql.functions import udf
from pyspark.sql.functions import udf, explode
from pyspark.sql.types import ArrayType, StructType, StructField, FloatType
from pyspark.sql.functions import desc
from time import sleep
from pyspark.sql import Row
#from pyspark.sql.functions import min, max
from pyspark.sql.functions import col
from pyspark.sql.functions import split, explode, lower, trim
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, count, col
from pyspark.sql import SparkSession
from pyspark.sql.functions import row_number
from pyspark.sql.window import Window
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.functions import monotonically_increasing_id, concat, col, lit, cast
from pyspark.sql import SparkSession
from pyspark.sql.functions import collect_list, udf
from pyspark.sql.types import DoubleType
from pyspark.sql import SparkSession
from pyspark.sql.functions import initcap
import re
import subprocess

In [3]:
import pyspark

# Get PySpark version
print("PySpark version:", pyspark.__version__)

PySpark version: 3.5.0

In [4]:
# # Create a SparkSession
# spark = SparkSession.builder \
#     .appName("HelloWorld") \
#     .getOrCreate()

# Create a DataFrame with a single column named "message" and a single row containing the string "Hello, World!"
data = [("Hello, World!",)]
df = spark.createDataFrame(data, ["message"])

# Show the DataFrame
df.show()

+-------------+
|      message|
+-------------+
|Hello, World!|
+-------------+

In [5]:
# data = pd.read_csv('data/Covid_data.csv')
data = pd.read_csv('data/cardio_train.csv', sep=';')

# data[data['DATE_DIED']==9999-99-99]
data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,988,22469,1,155,69.0,130,80,2,2,0,0,1,0
1,989,14648,1,163,71.0,110,70,1,1,0,0,1,1
2,990,21901,1,165,70.0,120,80,1,1,0,0,1,0
3,991,14549,2,165,85.0,120,80,1,1,1,1,1,0
4,992,23393,1,155,62.0,120,80,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69296,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69297,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69298,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69299,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69300,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [7]:
# Read CSV file into table
df = spark.read.option("header",True) \
    .csv('data/cardio_train.csv', sep=';')
df.printSchema()
df.show()

root
 |-- id: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- height: string (nullable = true)
 |-- weight: string (nullable = true)
 |-- ap_hi: string (nullable = true)
 |-- ap_lo: string (nullable = true)
 |-- cholesterol: string (nullable = true)
 |-- gluc: string (nullable = true)
 |-- smoke: string (nullable = true)
 |-- alco: string (nullable = true)
 |-- active: string (nullable = true)
 |-- cardio: string (nullable = true)

+----+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
|  id|  age|gender|height|weight|ap_hi|ap_lo|cholesterol|gluc|smoke|alco|active|cardio|
+----+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
| 988|22469|     1|   155|  69.0|  130|   80|          2|   2|    0|   0|     1|     0|
| 989|14648|     1|   163|  71.0|  110|   70|          1|   1|    0|   0|     1|     1|
| 990|21901|     1|   165|  70.0|  120|   80|          1|   1|    0|   0|     1|     0|
| 991|14549|     2|   165|  85.0|  120|   80|          1|   1|    1|   1|     1|     0|
| 992|23393|     1|   155|  62.0|  120|   80|          1|   1|    0|   0|     1|     0|
| 995|21143|     1|   164|  61.0|  100|   70|          1|   1|    0|   0|     1|     0|
| 996|18085|     1|   162|  72.0|  100|   70|          1|   1|    0|   0|     1|     0|
| 997|22547|     1|   161|  93.0|  140|   90|          2|   1|    0|   0|     1|     1|
| 999|21250|     1|   157|  68.0|  110|   80|          1|   1|    0|   0|     1|     0|
|1000|22446|     1|   158|  65.0|  140|   90|          3|   1|    0|   0|     1|     1|
|1001|16621|     1|   153|  57.0|  120|   80|          3|   2|    0|   0|     1|     1|
|1002|20442|     2|   169|  82.0|  130|   90|          1|   1|    0|   0|     1|     1|
|1003|23168|     2|   150|  56.0|  130|   80|          2|   1|    0|   0|     1|     1|
|1004|22598|     1|   176|  72.0|  130|   90|          1|   3|    0|   0|     1|     1|
|1006|20317|     1|   154|  85.0|  160|  100|          3|   1|    0|   0|     1|     1|
|1008|23558|     1|   159|  60.0|  120|   80|          1|   1|    0|   0|     1|     1|
|1010|20219|     2|   146|  45.0|  120|   80|          1|   1|    0|   0|     1|     0|
|1011|19559|     1|   165|  90.0|  140|   90|          1|   1|    0|   0|     1|     1|
|1013|20006|     2|   167|  65.0|  120|   80|          1|   1|    0|   0|     0|     0|
|1014|19054|     1|   154|  70.0|  110|   70|          1|   1|    0|   0|     1|     0|
+----+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
only showing top 20 rows

In [8]:
df.createOrReplaceTempView('DATA')

In [10]:
# SQL Select query
spark.sql('''
    
    SELECT 
        AGE
    FROM DATA
    
''') \
    .show(25)

+-----+
|  AGE|
+-----+
|22469|
|14648|
|21901|
|14549|
|23393|
|21143|
|18085|
|22547|
|21250|
|22446|
|16621|
|20442|
|23168|
|22598|
|20317|
|23558|
|20219|
|19559|
|20006|
|19054|
|23407|
|22833|
|20465|
|21737|
|19881|
+-----+