In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode, split, regexp_replace
from pyspark.sql.functions import col, split, explode, regexp_replace


from pyspark.sql.functions import lit, col, when
from pyspark.sql.types import StringType
from pyspark.ml.feature import FeatureHasher
import os
from pyspark.sql.functions import col, when, lit, isnan
from pyspark.sql.functions import lit, nanvl, isnan, when, avg
import category_encoders as ce
import pandas as pd
import itertools
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from category_encoders import CatBoostEncoder
import pickle
from pyspark.sql import SparkSession
from pyspark.sql.functions import pandas_udf, PandasUDFType
from pyspark.sql.types import DoubleType, ArrayType
import numpy as np
import pandas as pd
import sklearn
sklearn.set_config(transform_output='pandas')
from pyspark.sql.functions import array
from pyspark.sql import functions as F
from pyspark.sql import SparkSession, types as T
from pyspark.sql.functions import udf
from ast import literal_eval

from pyspark.sql import DataFrame
import os
from pyspark.sql import functions as sf
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, DoubleType
import pyspark
from pyspark.sql import SparkSession
# from geospark.register import upload_jars
# from geospark.register import GeoSparkRegistrator
# from geospark.core.SpatialRDD import PolygonRDD, PointRDD
# from geospark.core.enums import FileDataSplitter
# from geospark.core.enums import IndexType
# from geospark.core.geom.envelope import Envelope
# from geospark.core.spatialOperator import RangeQuery
# from geospark.core.formatMapper.shapefileParser import ShapefileReader
# from geospark.sql.types import GeometryType
# from geospark.register import sparkJVM
# import re
# upload_jars()
#
#
#
# spark = SparkSession.builder.appName("Spark_v1")    .config("spark.default.parallelism", 176*3) \
#     .config("spark.sql.shuffle.partitions", 176*3) \
#     .config("spark.executor.memory", "50g") \
#     .config("spark.executor.cores", "5") \
#     .config("spark.driver.memory", "10g") \
#     .config("spark.driver.maxResultSize", "1300g") \
#     .getOrCreate()
import os

# setup arguments
#os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-sql-kafka-0-10_2.11:2.4.0'

# initialize spark
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, BooleanType


ram = 16

spark = SparkSession. \
    builder. \
    appName('spark_first_run') \
    .config("spark.executor.memory", f"{ram}g") \
    .config("spark.driver.maxResultSize", f"{ram}g") \
    .config("spark.driver.memory", f"{ram}g") \
    .config("spark.executor.memoryOverhead", f"{ram}g") \
    .config("spark.sql.debug.maxToStringFields", "100000") \
    .getOrCreate()


#    .config("spark.driver.memory", "10g") \

#    .config("spark.executor.memoryOverhead", "10g") \




# Register Sedona functions to Spark






from scipy.stats import t
from pyspark.sql import SparkSession

from pyspark.sql.functions import udf, lit

import pandas as pd
from ast import literal_eval
import json
from pyspark.sql.functions import udf
import pandas as pd
import shutil
from pyspark.sql.functions import udf
from pyspark.sql.functions import udf, explode
from pyspark.sql.types import ArrayType, StructType, StructField, FloatType
from pyspark.sql.functions import desc
from time import sleep
from pyspark.sql import Row
#from pyspark.sql.functions import min, max
from pyspark.sql.functions import col
from pyspark.sql.functions import split, explode, lower, trim
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, count, col
from pyspark.sql import SparkSession
from pyspark.sql.functions import row_number
from pyspark.sql.window import Window
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.functions import monotonically_increasing_id, concat, col, lit, cast
from pyspark.sql import SparkSession
from pyspark.sql.functions import collect_list, udf
from pyspark.sql.types import DoubleType
from pyspark.sql import SparkSession
from pyspark.sql.functions import initcap
import re
import subprocess

In [2]:
import pyspark

# Get PySpark version
print("PySpark version:", pyspark.__version__)

PySpark version: 3.5.0

In [3]:
# # Create a SparkSession
# spark = SparkSession.builder \
#     .appName("HelloWorld") \
#     .getOrCreate()

# Create a DataFrame with a single column named "message" and a single row containing the string "Hello, World!"
data = [("Hello, World!",)]
df = spark.createDataFrame(data, ["message"])

# Show the DataFrame
df.show()

+-------------+
|      message|
+-------------+
|Hello, World!|
+-------------+

In [4]:
# data = pd.read_csv('data/Covid_data.csv')
data = pd.read_csv('data/cardio_train.csv', sep=';')

# data[data['DATE_DIED']==9999-99-99]
data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,988,22469,1,155,69.0,130,80,2,2,0,0,1,0
1,989,14648,1,163,71.0,110,70,1,1,0,0,1,1
2,990,21901,1,165,70.0,120,80,1,1,0,0,1,0
3,991,14549,2,165,85.0,120,80,1,1,1,1,1,0
4,992,23393,1,155,62.0,120,80,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69296,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69297,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69298,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69299,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69300,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [5]:
# Read CSV file into table
df = spark.read.option("header",True) \
    .csv('data/cardio_train.csv', sep=';')
df.printSchema()
df.show()

root
 |-- id: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- height: string (nullable = true)
 |-- weight: string (nullable = true)
 |-- ap_hi: string (nullable = true)
 |-- ap_lo: string (nullable = true)
 |-- cholesterol: string (nullable = true)
 |-- gluc: string (nullable = true)
 |-- smoke: string (nullable = true)
 |-- alco: string (nullable = true)
 |-- active: string (nullable = true)
 |-- cardio: string (nullable = true)
+----+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
|  id|  age|gender|height|weight|ap_hi|ap_lo|cholesterol|gluc|smoke|alco|active|cardio|
+----+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
| 988|22469|     1|   155|  69.0|  130|   80|          2|   2|    0|   0|     1|     0|
| 989|14648|     1|   163|  71.0|  110|   70|          1|   1|    0|   0|     1|     1|
| 990|21901|     1|   165|  70.0|  120|   80|          1|   1|    0|   0|     1|     0|
| 991|14549|     2|   165|  85.0|  120|   80|          1|   1|    1|   1|     1|     0|
| 992|23393|     1|   155|  62.0|  120|   80|          1|   1|    0|   0|     1|     0|
| 995|21143|     1|   164|  61.0|  100|   70|          1|   1|    0|   0|     1|     0|
| 996|18085|     1|   162|  72.0|  100|   70|          1|   1|    0|   0|     1|     0|
| 997|22547|     1|   161|  93.0|  140|   90|          2|   1|    0|   0|     1|     1|
| 999|21250|     1|   157|  68.0|  110|   80|          1|   1|    0|   0|     1|     0|
|1000|22446|     1|   158|  65.0|  140|   90|          3|   1|    0|   0|     1|     1|
|1001|16621|     1|   153|  57.0|  120|   80|          3|   2|    0|   0|     1|     1|
|1002|20442|     2|   169|  82.0|  130|   90|          1|   1|    0|   0|     1|     1|
|1003|23168|     2|   150|  56.0|  130|   80|          2|   1|    0|   0|     1|     1|
|1004|22598|     1|   176|  72.0|  130|   90|          1|   3|    0|   0|     1|     1|
|1006|20317|     1|   154|  85.0|  160|  100|          3|   1|    0|   0|     1|     1|
|1008|23558|     1|   159|  60.0|  120|   80|          1|   1|    0|   0|     1|     1|
|1010|20219|     2|   146|  45.0|  120|   80|          1|   1|    0|   0|     1|     0|
|1011|19559|     1|   165|  90.0|  140|   90|          1|   1|    0|   0|     1|     1|
|1013|20006|     2|   167|  65.0|  120|   80|          1|   1|    0|   0|     0|     0|
|1014|19054|     1|   154|  70.0|  110|   70|          1|   1|    0|   0|     1|     0|
+----+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
only showing top 20 rows

In [6]:
df.createOrReplaceTempView('DATA')

In [7]:
# SQL Select query
spark.sql('''
    
    SELECT 
       round(AGE/365)
    FROM DATA
    
''') \
    .show(5)

+---------------------+
|round((AGE / 365), 0)|
+---------------------+
|                 62.0|
|                 40.0|
|                 60.0|
|                 40.0|
|                 64.0|
+---------------------+

In [8]:
# 1 Just height by age
spark.sql('''
    
    SELECT 
        Height,
        ROUND(AGE/365) AS AgeInYears
    FROM 
        DATA
    ORDER BY 
        AgeInYears
''') \
    .show(5)

+------+----------+
|Height|AgeInYears|
+------+----------+
|   175|      30.0|
|   175|      30.0|
|   159|      30.0|
|   160|      30.0|
|   169|      39.0|
+------+----------+

	SELECT
Название функции (столбец для вычислений)
OVER (
    PARTITION BY столбец для группировки
ORDER BY столбец для сортировки
ROWS или RANGE выражение для ограничения строк в пределах группы
)

In [20]:
# 2  different functions for data
spark.sql('''
    
   SELECT 
        ROUND(AGE/365)
        ,HEIGHT
        ,WEIGHT
        ,SUM(WEIGHT) over (partition by ROUND(AGE/365)) as sum_grade
        ,AVG(WEIGHT) over (partition by ROUND(AGE/365)) as avg_grade
        ,COUNT(WEIGHT) over (partition by ROUND(AGE/365)) as count_grade
        ,MIN(WEIGHT) over (partition by ROUND(AGE/365)) as min_grade
        ,MAX(WEIGHT) over (partition by ROUND(AGE/365)) as max_grade
from DATA;
''') \
    .show(5)

+---------------------+------+------+---------+-----------------+-----------+---------+---------+
|round((AGE / 365), 0)|HEIGHT|WEIGHT|sum_grade|        avg_grade|count_grade|min_grade|max_grade|
+---------------------+------+------+---------+-----------------+-----------+---------+---------+
|                 30.0|   175|  59.0|    269.0|            67.25|          4|     59.0|     92.0|
|                 30.0|   175|  92.0|    269.0|            67.25|          4|     59.0|     92.0|
|                 30.0|   159|  59.0|    269.0|            67.25|          4|     59.0|     92.0|
|                 30.0|   160|  59.0|    269.0|            67.25|          4|     59.0|     92.0|
|                 39.0|   169|  67.0|  29906.3|73.66083743842364|        406|    100.0|     99.0|
+---------------------+------+------+---------+-----------------+-----------+---------+---------+

In [10]:
# 3  average data for age groups
spark.sql('''


SELECT
    ROUND(ROUND(AGE/365) / 5) * 5 AS age_group,
    AVG(height) AS avg_height,
    AVG(weight) AS avg_weight,
    AVG(ap_hi) AS avg_ap_hi,
    AVG(ap_lo) AS avg_ap_lo,
    AVG(cholesterol) AS avg_cholesterol,
    AVG(gluc) AS avg_gluc,
    AVG(smoke) AS avg_smoke,
    AVG(alco) AS avg_alco,
    AVG(active) AS avg_active,
    AVG(cardio) AS avg_cardio
FROM
    DATA
GROUP BY
    ROUND(ROUND(AGE/365) / 5) * 5
ORDER BY
    ROUND(ROUND(AGE/365) / 5) * 5;


''') \
    .show(5)

+---------+------------------+-----------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+
|age_group|        avg_height|       avg_weight|         avg_ap_hi|        avg_ap_lo|   avg_cholesterol|          avg_gluc|          avg_smoke|           avg_alco|        avg_active|         avg_cardio|
+---------+------------------+-----------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+
|     30.0|            167.25|            67.25|             112.5|             72.5|               1.0|               1.0|                0.0|                0.0|               1.0|                0.0|
|     40.0|165.28813296054676|71.98822615719166| 120.0681888785337|88.09009009009009|1.1851506679092887|1.1314072693383037|0.11012736874805841|0.06477166821994408|0.8010251630941286|0.26001863932898417|
|     45.0|165.36359039190899| 73.5565613147914|126.99279393173198| 91.9960809102402|1.2467762326169405|  1.15031605562579|0.11024020227560051|0.06371681415929203|0.8199747155499368|0.38963337547408344|
|     50.0| 164.6886014248219|74.05468816397949|  128.107424071991|96.87276590426197|1.3075240594925635|1.1974753155855518|0.09367579052618423| 0.0568678915135608|0.8037120359955006|0.44419447569053866|
|     55.0|164.29411402157166|74.52955562403697|128.98107858243452|98.47469953775038|1.3848998459167952|1.2387057010785825| 0.0840677966101695|0.05220338983050848|0.8043759630200308| 0.5191371340523883|
+---------+------------------+-----------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+

In [11]:
# 4 average data portrait of people who has cardiovascular disease
spark.sql('''


SELECT
    ROUND(ROUND(AGE/365) / 5) * 5 AS age_group,
    AVG(height) AS avg_height,
    AVG(weight) AS avg_weight,
    AVG(ap_hi) AS avg_ap_hi,
    AVG(ap_lo) AS avg_ap_lo,
    AVG(cholesterol) AS avg_cholesterol,
    AVG(gluc) AS avg_gluc,
    AVG(smoke) AS avg_smoke,
    AVG(alco) AS avg_alco,
    AVG(active) AS avg_active
FROM
    DATA
WHERE 
    CARDIO = 1
GROUP BY
    ROUND(ROUND(AGE/365) / 5) * 5
ORDER BY
    ROUND(ROUND(AGE/365) / 5) * 5;


''') \
    .show(10)

+---------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+--------------------+------------------+
|age_group|        avg_height|       avg_weight|         avg_ap_hi|         avg_ap_lo|   avg_cholesterol|          avg_gluc|          avg_smoke|            avg_alco|        avg_active|
+---------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+--------------------+------------------+
|     40.0|166.05017921146953|77.82502986857826|133.17921146953404|107.53405017921148|1.3715651135005973|1.1893667861409798|0.11529271206690561| 0.06690561529271206|0.7974910394265233|
|     45.0| 165.7787151200519| 77.7232965606749| 143.5360155743024|107.65541855937703|1.4127190136275145|1.1982478909798833| 0.1145360155743024| 0.06327060350421804|0.7968851395197923|
|     50.0|164.94794597636465|77.29827940348903|139.61128306133935| 116.3918120427687|1.4510410804727067|1.2480303882948791|0.09566685424873382|0.057962858750703436|0.7874226223972988|
|     55.0|164.19755431556453|76.81546242431438|134.63742134631366|108.89267481894812| 1.511931615813843|1.2820847678974236|0.08001899560726582| 0.05330642288970675|0.7938976611658554|
|     60.0|163.55006133811457|76.43045107105785|137.06690572803623|105.64216287628574| 1.584976880249127|  1.31320184958007|0.07322827215249599| 0.04605076908559026|  0.78880815325092|
|     65.0|163.16024612092028|75.87011771000535|135.59256286784375|106.52835741037988|1.6131621187800964|1.3263777421080791|0.05965757089352595|0.040930979133226325|0.7790262172284644|
+---------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+--------------------+------------------+

In [12]:
# 5   average weight and height for age groups  
spark.sql('''


SELECT
    ROUND(AGE/365) AS age_years,
    AVG(weight) OVER (PARTITION BY ROUND(AGE/365)) AS avg_weight,
    AVG(height) OVER (PARTITION BY ROUND(AGE/365)) AS avg_height
FROM
    DATA

''') \
    .show(10)

+---------+-----------------+------------------+
|age_years|       avg_weight|        avg_height|
+---------+-----------------+------------------+
|     30.0|            67.25|            167.25|
|     30.0|            67.25|            167.25|
|     30.0|            67.25|            167.25|
|     30.0|            67.25|            167.25|
|     39.0|73.66083743842364|165.58374384236453|
|     39.0|73.66083743842364|165.58374384236453|
|     39.0|73.66083743842364|165.58374384236453|
|     39.0|73.66083743842364|165.58374384236453|
|     39.0|73.66083743842364|165.58374384236453|
|     39.0|73.66083743842364|165.58374384236453|
+---------+-----------------+------------------+

In [13]:
# 6 Ranking of cardiac indicators (ap_hi, ap_lo, cholesterol, glucometer) by age groups
spark.sql('''


SELECT
    id,
    ROUND(AGE/365) AS age_years ,
    ap_hi,
    ap_lo,
    cholesterol,
    gluc,
    RANK() OVER (PARTITION BY ROUND(AGE/365) ORDER BY ap_hi, ap_lo, cholesterol, gluc) AS cardio_rank
FROM
    DATA;

''') \
    .show(10)

+-----+---------+-----+-----+-----------+----+-----------+
|   id|age_years|ap_hi|ap_lo|cholesterol|gluc|cardio_rank|
+-----+---------+-----+-----+-----------+----+-----------+
|31922|     30.0|  100|   60|          1|   1|          1|
|79749|     30.0|  110|   70|          1|   1|          2|
| 8850|     30.0|  120|   80|          1|   1|          3|
|43842|     30.0|  120|   80|          1|   1|          3|
| 6000|     39.0|  100|   60|          1|   1|          1|
| 7254|     39.0|  100|   60|          1|   1|          1|
|16141|     39.0|  100|   60|          1|   1|          1|
|25130|     39.0|  100|   60|          1|   1|          1|
|34070|     39.0|  100|   60|          1|   1|          1|
|40695|     39.0|  100|   60|          1|   1|          1|
+-----+---------+-----+-----+-----------+----+-----------+

In [14]:
# 7 Calculation of the average value of cardiac indicators for groups of smokers and non-smokers:
spark.sql('''


SELECT
    smoke,
    AVG(ap_hi) OVER (PARTITION BY smoke) AS avg_ap_hi,
    AVG(ap_lo) OVER (PARTITION BY smoke) AS avg_ap_lo,
    AVG(cholesterol) OVER (PARTITION BY smoke) AS avg_cholesterol,
    AVG(gluc) OVER (PARTITION BY smoke) AS avg_gluc
FROM
    DATA;

''') \
    .show(10)

+-----+------------------+-----------------+------------------+------------------+
|smoke|         avg_ap_hi|        avg_ap_lo|   avg_cholesterol|          avg_gluc|
+-----+------------------+-----------------+------------------+------------------+
|    0|128.87446003892467|96.35938859792086|1.3646418455988227|1.2272662542128832|
|    0|128.87446003892467|96.35938859792086|1.3646418455988227|1.2272662542128832|
|    0|128.87446003892467|96.35938859792086|1.3646418455988227|1.2272662542128832|
|    0|128.87446003892467|96.35938859792086|1.3646418455988227|1.2272662542128832|
|    0|128.87446003892467|96.35938859792086|1.3646418455988227|1.2272662542128832|
|    0|128.87446003892467|96.35938859792086|1.3646418455988227|1.2272662542128832|
|    0|128.87446003892467|96.35938859792086|1.3646418455988227|1.2272662542128832|
|    0|128.87446003892467|96.35938859792086|1.3646418455988227|1.2272662542128832|
|    0|128.87446003892467|96.35938859792086|1.3646418455988227|1.2272662542128832|
|    0|128.87446003892467|96.35938859792086|1.3646418455988227|1.2272662542128832|
+-----+------------------+-----------------+------------------+------------------+

In [15]:
# 8 Calculation of the average value of cardiac indicators by gender:
spark.sql('''


    SELECT
        gender,
        AVG(ap_hi) OVER (PARTITION BY gender) AS avg_ap_hi,
        AVG(ap_lo) OVER (PARTITION BY gender) AS avg_ap_lo,
        AVG(cholesterol) OVER (PARTITION BY gender) AS avg_cholesterol,
        AVG(gluc) OVER (PARTITION BY gender) AS avg_gluc
    FROM
    DATA;

''') \
    .show(10)

+------+------------------+----------------+------------------+------------------+
|gender|         avg_ap_hi|       avg_ap_lo|   avg_cholesterol|          avg_gluc|
+------+------------------+----------------+------------------+------------------+
|     1|128.15117904123872|94.5160717850884|1.3849242441047938|1.2353202156214644|
|     1|128.15117904123872|94.5160717850884|1.3849242441047938|1.2353202156214644|
|     1|128.15117904123872|94.5160717850884|1.3849242441047938|1.2353202156214644|
|     1|128.15117904123872|94.5160717850884|1.3849242441047938|1.2353202156214644|
|     1|128.15117904123872|94.5160717850884|1.3849242441047938|1.2353202156214644|
|     1|128.15117904123872|94.5160717850884|1.3849242441047938|1.2353202156214644|
|     1|128.15117904123872|94.5160717850884|1.3849242441047938|1.2353202156214644|
|     1|128.15117904123872|94.5160717850884|1.3849242441047938|1.2353202156214644|
|     1|128.15117904123872|94.5160717850884|1.3849242441047938|1.2353202156214644|
|     1|128.15117904123872|94.5160717850884|1.3849242441047938|1.2353202156214644|
+------+------------------+----------------+------------------+------------------+

In [16]:
# 9 Calculation of the average value of cardiac indicators by gender:
spark.sql('''

    SELECT *       
    ROUND(AGE/365) AS age_years
    height         
    FROM DATA
    WHERE
    
     GENDER == 2   
''') \
    .show(10)

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near '('.(line 4, pos 9)

== SQL ==


    SELECT *
    ROUND(AGE/365) AS age_years
---------^^^
    height
    FROM DATA
    WHERE
                    GENDER == 2

In [21]:
data.gender

0        1
1        1
2        1
3        2
4        1
        ..
69296    2
69297    1
69298    2
69299    1
69300    1
Name: gender, Length: 69301, dtype: int64

In [26]:
data.columns

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [ ]:
a